<p>
  This module requires the developer implement a hook to get any result.
</p>
<p>
  Advanced Help Dialog module provides a hook that lets you put links to advanced help topics in the "Help" region of specific paths. When users click these links, a ctools-style modal dialog box appears with the appropriate advanced help content.
</p>  
<p>
  This module also provides a new element type "modal_help_dialog" that creates a modal link to any topic of any module. For it to work, you must specify <strong>#module</strong>, <strong>#topic</strong> and <strong>#link_text</strong>.
</p>
